body {
    background-color: #add6d6;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

/* header */
.logo {
    width: 100%;
    text-align: center;
    background-color: #9db1cf;
}

.logo img {
    width: 100px;
    padding: 20px;
}

/* form */
.wrapper {
    background-color: #c3b1cefa;
    width: 100%;
    height: 20vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    width: 40%;
    position: relative;
}

.search_box input[type="text"] {
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: #0f0f0f4d;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    outline: none;
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.fa-search:hover {
    color: #ace4ac;
}

::-webkit-input-placeholder {

    color: #fff;
}

::-moz-placeholder {

    color: #fff;
}

:-ms-input-placeholder {

    color: #fff;
}

/* cards */
.container {
    padding: 20px;
    margin: 0 auto;
    background-color: #dbd0d0;

}

.title-page {
    text-align: center;
    font-size: 40px;
    margin: 15px;
    color: white;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pokedex .card {
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.card {
    overflow: hidden;
}

.card .card-image {
    max-width: 100%;
    transition: all 0.3s;
}

.card .card-image:hover {
    transform: scale(1.1);
}

.pokedex img {
    width: 40%;
    padding: 15px;
}

.card-title,
.card-subtitle {
    padding: 10px 0;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}

.dark {
    background-color: #705848;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #B8B8D0;
}

.fire {
    background-color: #F08030;
}

.grass {
    background-color: #78C850;
}

.electric {
    background-color: #F8D030;
}

.water {
    background-color: #6890F0;
}

.ice {
    background-color: #98D8D8;
}

.ground {
    background-color: #E0C068;
}

.rock {
    background-color: #B8A038;
}

.fairy {
    background-color: #EE99AC;
}

.poison {
    background-color: #A040A0;
}

.bug {
    background-color: #A8B820;
}

.dragon {
    background-color: #7038F8;
}

.psychic {
    background-color: #F85888;
}

.flying {
    background-color: #A890F0;
}

.fighting {
    background-color: #C03028;
}

.normal {
    background-color: #A8A878;
}

/* responsive */
@media (max-width: 768px) {
    .pokedex {
        grid-template-columns: repeat(2, 1fr);
    }

    .search_box {
        width: 47%;
    }

    .search_box input[type="text"] {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .pokedex {
        grid-template-columns: repeat(1, 1fr);
    }

    .pokedex img {
        width: 35%;
    }

    .search_box {
        width: 90%;
    }

    .search_box input[type="text"] {
        font-size: 13px;
    }
}